@tailwind base;

/* Firefox */
* {
    scrollbar-width:thick;
   
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
	background-color: #ff000000;

  }
  
  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(239, 156, 156, 0.3);
	background-color: #000000;

  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #0bdbb9;
    border-radius: 15px;
  }
  
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    ::selection {
        color: #181931;
        background-color: #0BDBB9;
        text-decoration-color: #181931;
        -webkit-text-decoration-color: #181931;

    }
:root {
    font-family: "Jost",sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
}